@import "../utils/variables";
@import "../utils/mixins";

// * Hero start

.contactHero {
  background-color: $color-bg-gray;
  width: 100%;
  .container {
    .secCap {
      padding: 150px 0;
      h2 {
        color: $color-blue;
        font-size: 50px;
        display: block;
        font-weight: 700;
        line-height: 1.4;
      }
    }
  }
}

// * Hero end

// * Map start

.map {
  padding: 100px 0;
}

// * Map end

// * Form section start

.formSec {
  padding: 100px 0;
  .container {
    h2 {
      font-size: 27px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .row {
      display: grid;
      grid-template-columns: 65% 30%;
      gap: 150px;
      form {
        display: flex;
        flex-direction: column;
        textarea {
          padding: 20px;
          font-size: 14px;
          height: 150px;
          resize: none;
          margin-bottom: 20px;
          border: 1px solid #eee;
        }
        .info {
          display: flex;
          gap: 15px;
        }
        input {
          height: 60px;
          border: 1px solid #e8e8e8;
          width: 100%;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding-left: 20px;
          margin-bottom: 20px;
        }
        button {
          @include btn(#fff);
          color: $color-primary;
          border: 1px solid $color-primary;
          width: 20%;
          border-radius: 0;
          padding: 25px 15px;
          transition: all 0.3s ease;
          &:hover {
            background: $color-primary;
            color: $color-white;
          }
        }
      }
      .information {
        .singleInfo {
          display: flex;
          align-items: center;
          margin-bottom: 25px;
          .icon {
            margin-right: 20px;
            i {
              color: #8f9195;
              font-size: 27px;
            }
          }
          .address {
            h3 {
              margin-bottom: 5px;
              font-size: 16px;
              color: #2a2a2a;
              font-weight: 500;
            }
            p {
              color: #8a8a8a;
            }
          }
        }
      }
    }
  }
}

// * Form section end

// ! Responsive

// ! 992px - 1199px
@media (min-width: 992px) and (max-width: 1199px) {
  .contactHero {
    .container {
      @include container(90%);
      .secCap {
        padding: 100px 0;
        h2 {
          font-size: 45px;
          line-height: 1.3;
        }
      }
    }
  }

  .map {
    padding: 80px 0;
  }

  .formSec {
    padding: 80px 0;
    .container {
      @include container(90%);
      h2 {
        font-size: 24px;
        margin-bottom: 18px;
      }
      .row {
        grid-template-columns: 60% 35%;
        gap: 100px;
        form {
          textarea {
            font-size: 13px;
            height: 130px;
            padding: 15px;
            margin-bottom: 18px;
          }
          input {
            height: 55px;
            padding-left: 18px;
            margin-bottom: 18px;
          }
          button {
            width: 25%;
            padding: 20px 12px;
          }
        }
        .information {
          .singleInfo {
            margin-bottom: 20px;
            .icon {
              i {
                font-size: 25px;
              }
            }
            .address {
              h3 {
                font-size: 15px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

// ! 768px - 992px
@media (min-width: 768px) and (max-width: 992px) {
  .contactHero {
    .container {
      @include container(95%);
      .secCap {
        padding: 130px 0 80px;
        h2 {
          font-size: 40px;
          line-height: 1.2;
        }
      }
    }
  }

  .map {
    padding: 60px 0;
  }

  .formSec {
    padding: 60px 0;
    .container {
      @include container(95%);
      h2 {
        font-size: 22px;
        margin-bottom: 15px;
      }
      .row {
        grid-template-columns: 1fr;
        gap: 60px;
        form {
          textarea {
            font-size: 12px;
            height: 120px;
            padding: 12px;
            margin-bottom: 15px;
          }
          input {
            height: 50px;
            padding-left: 15px;
            margin-bottom: 15px;
          }
          button {
            width: 30%;
            padding: 18px 10px;
          }
        }
        .information {
          .singleInfo {
            margin-bottom: 18px;
            .icon {
              i {
                font-size: 24px;
              }
            }
            .address {
              h3 {
                font-size: 14px;
              }
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

// ! 425px - 768px
@media (min-width: 425px) and (max-width: 768px) {
  .contactHero {
    .container {
      @include container(95%);
      .secCap {
        padding: 130px 0 80px;
        h2 {
          font-size: 36px;
          line-height: 1.2;
        }
      }
    }
  }

  .map {
    padding: 50px 0;
  }

  .formSec {
    padding: 50px 0;
    .container {
      @include container(95%);
      h2 {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .row {
        grid-template-columns: 1fr;
        gap: 50px;
        form {
          textarea {
            font-size: 12px;
            height: 110px;
            padding: 10px;
            margin-bottom: 15px;
          }
          input {
            height: 45px;
            padding-left: 12px;
            margin-bottom: 15px;
          }
          button {
            width: 40%;
            padding: 15px 10px;
          }
        }
        .information {
          .singleInfo {
            margin-bottom: 15px;
            .icon {
              i {
                font-size: 22px;
              }
            }
            .address {
              h3 {
                font-size: 13px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// ! 375px - 425px
@media (min-width: 375px) and (max-width: 425px) {
  .contactHero {
    .container {
      @include container(95%);
      .secCap {
        padding: 130px 0 80px;
        h2 {
          font-size: 30px;
          line-height: 1.1;
        }
      }
    }
  }

  .map {
    padding: 40px 0;
  }

  .formSec {
    padding: 40px 0;
    .container {
      @include container(95%);
      h2 {
        font-size: 18px;
        margin-bottom: 12px;
      }
      .row {
        grid-template-columns: 1fr;
        gap: 40px;
        form {
          textarea {
            font-size: 11px;
            height: 100px;
            padding: 8px;
            margin-bottom: 12px;
          }
          input {
            height: 40px;
            padding-left: 10px;
            margin-bottom: 12px;
          }
          button {
            width: 45%;
            padding: 12px 8px;
          }
        }
        .information {
          .singleInfo {
            margin-bottom: 12px;
            .icon {
              i {
                font-size: 20px;
              }
            }
            .address {
              h3 {
                font-size: 12px;
              }
              p {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

// ! 320px - 375px
@media (min-width: 320px) and (max-width: 375px) {
  .contactHero {
    .container {
      @include container(95%);
      .secCap {
        padding: 130px 0 80px;
        h2 {
          font-size: 35px;
          line-height: 1.3;
        }
      }
    }
  }

  .map {
    padding: 70px 0;
  }

  .formSec {
    padding: 70px 0;
    .container {
      @include container(95%);
      h2 {
        font-size: 25px;
        margin-bottom: 18px;
      }

      .row {
        display: block;
        gap: 25px;

        form {
          textarea {
            font-size: 14px;
            padding: 18px;
            height: 130px;
          }

          input {
            height: 55px;
            font-size: 14px;
            padding-left: 18px;
          }

          button {
            width: 30%;
            padding: 22px 12px;
            font-size: 15px;
          }
        }

        .information {
          .singleInfo {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            .icon {
              margin-right: 0;
            }

            .address {
              h3 {
                font-size: 15px;
                margin-bottom: 4px;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

// ! 280px - 320px
@media (min-width: 280px) and (max-width: 320px) {
  .contactHero {
    .container {
      @include container(100%);
      .secCap {
        padding: 130px 0 80px;
        h2 {
          font-size: 30px;
          line-height: 1.2;
        }
      }
    }
  }

  .map {
    padding: 50px 0;
  }

  .formSec {
    padding: 50px 0;
    .container {
      @include container(100%);
      h2 {
        font-size: 22px;
        margin-bottom: 15px;
      }

      .row {
        display: block;
        gap: 20px;

        form {
          textarea {
            font-size: 13px;
            padding: 15px;
            height: 120px;
          }

          input {
            height: 50px;
            font-size: 13px;
            padding-left: 15px;
          }

          button {
            width: 40%;
            padding: 20px 10px;
            font-size: 14px;
          }
        }

        .information {
          .singleInfo {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .icon {
              margin-right: 0;
            }

            .address {
              h3 {
                font-size: 14px;
                margin-bottom: 3px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}



